.profile-name {
    text-align: center;
}

.profile-details {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.profile-details li {
    padding: 0.8em 0;
    background: black;
    font-size: x-large;
    /*color: black;*/
    border-bottom: 1px solid #000;
}

#dialog-overlay {
    display: none;
    opacity: .8;
    position: fixed;
    top: 0;
    left: 0;
    background: #FFF;
    width: 100%;
    z-index: 10;
}

#profile-box {
    display: none;
    position: fixed;
    background: #000;
    /*border-radius: 2px;*/
    width: 550px;
    z-index: 10;
}

#profile-box > div {
    background: #333;
    margin: 2px;
}

#profile-box > div > #profile-box-head {
    /*background: #333;*/
    font-size: 19px;
    padding: 10px;
    color: #CCC;
}

#profile-box > div > #profile-box-body {
    /*background: #333;*/
    padding: 20px;
    color: #FFF;
}

#profile-box > div > #profile-box-foot {
    /*background: #333;*/
    padding-bottom: 20px;
    text-align: right;
}
